.form-container {
  width: 400px;
  // margin: 3rem auto;

  div.input.required {
    margin-bottom: 0.5rem;
  }
}

.form-title {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.02rem;
  transform: scale(1, 0.93);
  font-family: 'Cabin';
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 0;
}

.simple_form {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .input {
    margin-bottom: 1.75rem;
    width: 100%;

    input {
      width: 100%;
      padding: .625rem .75rem;
      border-radius: 0;
      border: 1px solid $super-light-grey;
      color: $medium-light-grey;
    }
  }
}

.checkbox {
  width: 100%;
  display: flex;

  #user_remember_me {
    width: auto;
    margin-right: 0.5rem;
  }
}


