.navbar.navbar-expand-md.navbar-light.navbar-lewagon {
  position: sticky;
  top: 0;
  z-index: 4;
  box-shadow: $base-box-shadow;
  background: rgba(250, 250, 250, 0.97);
  padding: 1rem 1rem;
  justify-content: space-between;

  .navbar-center {
    width: 100%;

    .navbar-nav {
      width: 100%;
      flex-direction: row-reverse;
    }
  }

  .nav-item {
    padding: 0 1rem;

    form.products-search-form {
      position: relative;
      z-index: 6;
    }
  }
}

.nav-link {
  color: $medium-grey !important;
  font-family: 'Nunito', sans-serif;
  padding: 0 !important;
  border-bottom: 1px solid transparent;
  transition: $base-transition;
  font-size: 0.95rem;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  transform: scale(1,0.97);

    &:hover {
        color: $medium-grey;
        border-bottom: 1px solid $medium-grey;
        transition: $base-transition;
    }
}

.navbar-lewagon .navbar-brand img {
  height: 1.5rem;
  vertical-align: unset;
}

.navbar-light .navbar-brand {
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 4;
}

.navbar-nav.mr-auto {
  align-items: center;
}

.nav-items {
  display: flex;
  position: absolute;
  left: 0;
  width: 100%;
  justify-content: center;
}

.navbar-right-side {
  display: flex;
  align-items: center;
  z-index: 5;
}

.dropdown-menu {
  left: unset;
  right: 0;
}
