.list-inline.tabs-links {
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 0;
  padding-top: 1rem;
  font-size: $base-font-size;

  .tab-link::before {
    content: "/";
    float: left;
    padding: 0 0.3rem;
  }

  a:hover {
    color: $light-grey;
    text-decoration: underline;
  }

  li, a {
    color: $light-grey;
    text-decoration: none;
  }

  li:last-child {
    color: $medium-grey;

    &::before {
      color: $light-grey;
    }
  }

  .root-link::before {
    content: none;
  }
}

.products-show .tabs-links, .variants-show .tabs-links {
  z-index: 2;
  position: absolute;
  padding-left: 2rem;
}

.products-container .list-inline {
  .tab-link:hover {
    text-decoration: none;
  }

  :last-child a {
    color: $dark-grey;
    font-weight: bold;

    &::before {
      color: $light-grey;
      font-weight: 400;
    }
  }
}

