<div class="bookers-content">
  <h1>Réservations en cours</h1>
  <section class="bookers-table">
      <header class="bookers-head">
            <div>Nom</div>
            <div>Prénom</div>
            <div>Téléphone</div>
            <div>E-mail</div>
      </header>
          <% @bookers.each do |booker| %>
            <div class="bookers-table-content">
              <div>
                <%= booker.last_name %>
              </div>
              <div>
                <%= booker.first_name %>
              </div>
              <div>
                <%= booker.phone_number %>
              </div>
              <div>
                <%= booker.email %>
              </div>
            </div>
          <% end %>
  </section>
</div>
