.all-sizes {
  display: flex;
  padding-left: 0;
  position: relative;
  flex-wrap: wrap;

  .variant-box {
    background-color: transparent;
    margin-bottom: 0.5rem;
  }

  li.size {
    color: $medium-grey;
  }

  .is-selected {
    border: 1px solid $medium-grey;
  }

  li.size.unavailable {
    color: $light-grey;
  }
}

.product-card-sizes {
  justify-content: center;
  width: 100%;

  li.size {
    font-size: 0.8rem;
  }

  li.size.unavailable {
    text-decoration: line-through;
    color: $light-grey;
  }
}
