.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  transition: $base-transition;
  grid-row-gap: 0.2rem;
  grid-column-gap: 0.2rem;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 2rem;
}

li.product-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;

  &:hover {
    .quick-booking {
      opacity: 1;
      transition: $base-transition;
    }

    .product-card-content > .product-card,
    .product-card-content > .first-picture {
      opacity: 0;
      transition: $base-transition;
    }
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  transition: $base-transition;

  &:hover {
    text-decoration: none;
  }

  .product-image {
    overflow: hidden;
  }

  img {
    width: 100%;
  }
}

.product-card-content {
  position: relative;
  background-position: center;
  background-size: cover;
  height: 100%;

  .quick-booking {
    position: absolute;
    bottom: 0;
    padding: 0 1rem;
    width: 100%;
    opacity: 0;
    text-align: center;
    transition: $base-transition;
    background-color: white;
    padding-top: 0.5rem;

    .booking-link {
      font-weight: bolder;
      letter-spacing: 0.025rem;
      color: $medium-grey;
      font-size: $base-font-size;
    }

    .unavailable {
      font-weight: 300;
      color: $light-grey;
    }
  }
}

.card-infos {
  width: 100%;
  background-color: white;
  color: $medium-grey;
  padding-bottom: 1rem;

  p {
    margin-bottom: 0;
    padding-top: 0.5rem;
  }
}

.prices {
  display: flex;
  font-family: 'Cabin';

  h3 {
    font-weight: 600;
    font-size: $base-font-size;
  }

  .standard-price {
    text-decoration: line-through;
  }

  .new-price {
    color: #CD3939;
    padding-right: 0.5rem;
  }
}
