body.products-show, body.variants-show {

  div.picture-wrapper {
    width: 60%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

    .full-size-picture {
      width: 686px;
      margin: 0 auto;
    }
  }

  ul.thumbnails-pictures {
    display: inline-block;
    padding-left: 0;
    height: $max-list-height;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 0;
    width: 92px;
    padding-right: 1rem;

  }

  li.thumbnail-picture {
    margin-top: 8px;
    border: 1px solid $super-light-grey;

    img {
      height: 83px;
    }
  }
}



