.products-search-form {
  display: flex;

  input {
    border: 0px;
    font-family: 'PT sans', 'Cabin';
    font-size: 1.05rem;
    border-bottom: 0 solid transparent;
    border-radius: 0;
    padding: 0;
    transition: $base-transition;
    width: 0;

    &:focus {
      border: 0px;
      box-shadow: none;
      border-bottom: 1px solid $medium-light-grey;
      border-radius: 0;
      transition: $base-transition;
      width: max-content;

      &::placeholder {
        color: $light-grey;
        transition: $base-transition;
      }
    }
  }

  label {
    margin: 0;
    display: flex;
    align-items: center;

    &::before {
      content: url('search.svg');
      vertical-align: -0.75rem;
      height: 1.5rem;
      width: 1.5rem;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.products-search-form .form-control::placeholder {
  color: transparent;
  transition: $base-transition;
}
