.products-search-form {
  display: flex;
  align-items: center;

  input {
    border: 0px;
    font-family: 'PT sans', 'Cabin';
    font-size: 1.05rem;
    border-bottom: 0 solid transparent;
    border-radius: 0;
    padding: 0;
    transition: $base-transition;
    width: 0;

    &:focus {
      border: 0px;
      box-shadow: none;
      border-bottom: 1px solid $medium-light-grey;
      border-radius: 0;
      transition: $base-transition;
      width: max-content;
      background-color: transparent;

      &::placeholder {
        color: $medium-grey;
        transition: $base-transition;
        font-size: 0.9rem;
        letter-spacing: 0.02rem;
      }
    }
  }

  label {
    margin: 0;
    display: flex;
    background-image: asset-url('search.svg');
    background-size: cover;
    height: 1.5rem;
    width: 1.5rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.products-search-form .form-control::placeholder {
  color: transparent;
  transition: $base-transition;
}
