body.products-show, body.variants-show {
  .page-content {
    min-width: 100%;
    margin: 0;

    .product-show-content{
      display: flex;
      align-items: center;
      position: relative;
      margin: 0 auto;
      background-color: #F7F6F5;
      padding-left: 2rem;
    }
  }
}

.product-side-content {
  width: 40%;
  max-width: 368px;
  padding: 0 0.8rem;

  .all-sizes {
    margin: 0 -4px;
  }

  .prices.sale-prices {

    h2.price {
      font-size: 1.1rem;
      font-weight: 400;
    }

    .sale-price {
      color: $medium-grey;
    }
  }

  .prices-wrapper p {
    color: $medium-light-grey;
    font-size: 0.85rem;
  }
}

.colors-content {
  margin-top: 1.5rem;
}

.other-colors {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  position: relative;
  margin: 0 -4px;

  .variant-box {
    &:hover {
      box-shadow: $variant-box-shadow-light;
    }
  }

  &:hover {
    .underline.is-selected {
      display: none;
    }
  }
}


