.products-show, .variants-show {
  .page-content {
    min-width: 100%;
    margin: 0;
  }

  .product-show-content{
    display: grid;
    grid-template-columns: 0.8fr 6fr 3fr 1.5fr;
    align-items: center;
    position: relative;
    margin: 0 auto;
    background-color: #F7F6F5;
  }
}

.product-side-content {
  padding: 0 1rem;
  max-width: calc(7 * 48px);
  margin: 0 auto;

  .all-sizes, .other-colors {
    margin: 0 -0.25rem;
  }

  .prices.sale-prices {

    h2.price {
      font-size: 1.1rem;
      font-weight: 400;
    }

    .sale-price {
      color: $medium-grey;
    }
  }

  .prices-wrapper p {
    color: $medium-light-grey;
    font-size: 0.85rem;
  }
}

.colors-content {
  margin-top: 1.5rem;
}

.other-colors {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  position: relative;
  margin: 0 -0.25rem;

  .variant-box {
    &:hover {
      box-shadow: $variant-box-shadow-light;
    }
  }

  &:hover {
    .underline.is-selected {
      display: none;
    }
  }
}


