.sub-categories-container {
  margin-top: 1.2rem;
  padding-top: 1.2rem;
  padding-right: 1.2rem;
  border-top: 1px solid $super-light-grey;
  text-transform: uppercase;
  font-family: 'Nunito';
  font-weight: 300;
  position: sticky;
  top: 4rem;

  p {
    color: $light-grey;
    font-size: 1rem;
  }
}

.sub-categories {
  padding-left: 0;
  margin-top: 1rem;
  width: max-content;
  min-width: 12vw;

  .sub-category {
    text-decoration: none;

    a.nav-link {
      transition: none;
    }

    &:hover {
      a.nav-link {
        border-bottom: 1px solid transparent;
        color: $light-grey !important;
        transition: none;
      }
    }
  }
}
