.variant-box {
  display: flex;
  height: 36px;
  min-width: 36px;
  margin: 0 4px;
  margin-bottom: 1.5rem;
  box-shadow: $variant-box-shadow-light;
  background-color: gainsboro;
  justify-content: center;
  align-items: center;
  color: $medium-light-grey;
  position: relative;

  &:hover {
    display: flex;
    text-decoration: none;
    color: $medium-light-grey;
    box-shadow: $variant-box-shadow-dark;

    .underline, .underline.is-selected {
      display: block;
    }

    &.is-selected {
      box-shadow: none;
    }
  }

  &.unavailable {
    cursor: pointer;
    pointer-events: none;
  }
}

.color-choice {
  color: $medium-grey;
  margin-bottom: 8px;
  font-size: 0.85rem;
}

.underline {
  display: none;
  position: absolute;
  top: 40px;
  width: 36px;
  height: 2px;
  background-color: $medium-light-grey;
}

.underline.is-selected {
  display: block;
}


.variant-box.little-variant-box {
  width: 33px;
  height: 33px;
  box-shadow: none;
  // transition: $base-transition;
  margin: 0;

  &:hover {
    // transition: $base-transition;
    box-shadow: $variant-box-shadow-dark;
  }

  &.unavailable {
    box-shadow: none;
  }
}
