<div class="bookings-content">
  <h1>Réservations en cours</h1>
  <%= link_to 'Historique des réservations', bookings_path, class: "bookings-link" %>
  <%= render 'bookings_table' %>

  <%= paginate @bookings %>
</div>
