    <div class="footer">
      <div class="footer-links">
        <p class="follow">Suivez nous sur</p>
        <div class="social-medias">
          <p>
            <a href="https://www.facebook.com/tamaris.saintpaullesdax/" target="_blank">
              <i class="fab fa-facebook"></i><div class="no-mobile">acebook</div>
            </a>
          </p>
          <p class="mx-1">
            &
          </p>
          <p>
            <a href="#" target="_blank">
              <i class="fab fa-instagram"></i><div class="no-mobile">Instagram</div>
            </a>
          </p>
        </div>
      </div>
      <div class="private-access">
        <% if user_signed_in? %>
          <%= link_to 'Déconnexion', destroy_user_session_path, method: 'delete' %>
        <% else %>
          <%= link_to 'Accès privé', current_bookings_path %>
        <% end %>
      </div>
    </div>
