    <div class="footer">
      <div class="footer-links">
        <a href="https://www.facebook.com/tamaris.saintpaullesdax/" target="_blank">
          <p>Suivez nous sur</p>
          <i class="fab fa-facebook"></i><p>acebook</p>
        </a>
      </div>
      <div class="private-access">
        <% if user_signed_in? %>
          <%= link_to 'Déconnexion', destroy_user_session_path, method: 'delete' %>
        <% else %>
          <%= link_to 'Accès privé', current_bookings_path %>
        <% end %>
        <%= link_to 'Ajouter une référence', new_product_path %>
      </div>
      <div class="footer-copyright">
        This footer is made with <i class="fas fa-heart"></i> at Le Wagon
      </div>
    </div>
