<% @product = @paginated_products.first unless @paginated_products.nil? %>

<ul class="list-inline tabs-links no-mobile">
  <li class="tab-link root-link">
    <%= link_to 'Tamaris', root_path %>
  </li>

  <% if body_class.include? 'products-search' %>
    <li class="tab-link category-link">
      Recherche
    </li>
  <% else %>
    <li class="tab-link category-link">
      <%= link_to @product.category.capitalize, category_path(@product.category)  %>
    </li>
  <% end %>

  <% if (body_class.include? 'index_by_sub_category') || (body_class.include? 'products-show') %>
    <li class="tab-link subcategory-link">
      <%= link_to @product.sub_category.capitalize, sub_category_path(slug(@product.sub_category)) %>
    </li>
  <% end %>

  <% if @paginated_products.nil? %>
    <li class="tab-link product-model">
      <%= "#{@product.model.capitalize}" %>
    </li>
  <% end %>

</ul>
