<ul class="list-inline tabs-underlined">
  <li>
    <%= link_to 'Chaussures', products_path, class: 'tab-underlined active' %>
  </li>
  <li>
    <a href="#" class="tab-underlined">"Accessoires"</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">"Promos"</a>
  </li>
</ul>
