<a href="<%= sub_category_path(@product.category, @product.sub_category) %>"
  class="home-page-banner" style="background-image: url(<%= resize(@product.photos_urls.first, 1100, 1200) %>)">
  <div class="banner-content">
    <h1 class="category-banner"><%= @product.sub_category %></h1>
    <div class="button banner-btn">Acheter maintenant</div>
    <%= image_tag 'tamaris_label_no_background.gif', class: 'tamaris-gif' %>
  </div>
</a>




