<h1>Nous trouver</h1>
<div class="location-container">
  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11532.31196679933!2d-1.0495332131835942!3d43.72970664778671!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd56a63f957e6c13%3A0x3ddad2b815b3c36e!2sCentre%20Commercial%20le%20Grand%20Mail!5e0!3m2!1sfr!2sfr!4v1590728528918!5m2!1sfr!2sfr" width="400" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>

  <div class="infos-content">
    <div class='address'>
      <h3>Boutique</h3>
      <p>Centre Commercial Le Grand Mail</p>
      <p>Route de Mont de Marsan</p>
      <p>40990 Saint-Paul-lès-Dax</p>
    </div>

    <div class="opening-hours">
      <h3>Horaires</h3>
      <div class="day"><p>Lundi</p><p>9h30 - 20h00</p></div>
      <div class="day"><p>Mardi</p><p>9h30 - 20h00</p></div>
      <div class="day"><p>Mercredi</p><p>9h30 - 20h00</p></div>
      <div class="day"><p>Jeudi</p><p>9h30 - 20h00</p></div>
      <div class="day"><p>Vendredi</p><p>9h30 - 20h00</p></div>
      <div class="day"><p>Samedi</p><p>9h30 - 20h00</p></div>
    </div>

    <div class="contact">
      <h3>Contact</h3>
      <p>Tél.: 09 67 06 63 96</p>
      <p><a href="mailto:contact@tamaris-saintpaullesdax.com">contact@tamaris-saintpaullesdax.com</a></p>
    </div>
  </div>
</div>
