<h1>Votre boutique</h1>
<div class='paragraph'>
  <%= image_tag 'design.jpg', class: 'store-image' %>
  <div class="paragraph-text">
    <h3>Tamaris: rapport qualité/prix incomparable</h3>
    <p>Laborum in minim quis elit voluptate excepteur consectetur mollit duis
      commodo veniam quis magna dolore sed dolor in veniam ea magna ullamco fugiat in sed.
      Lorem ipsum quis sed excepteur ut commodo dolore exercitation voluptate irure
      voluptate sunt ex ad pariatur commodo esse labore et ut sunt ut id nostrud dolore
      sint quis in sit exercitation fugiat adipisicing aliqua fugiat nulla in culpa
      aute magna do cillum mollit do dolore ad in consequat officia ut ut sit fugiat
      in qui dolor occaecat qui ullamco dolore reprehenderit pariatur aliquip tempor
      adipisicing enim et dolor officia consequat pariatur pariatur laboris voluptate
    </p>
  </div>
</div>

<div class='paragraph'>
  <div class="paragraph-text">
    <h3>Une situation idéale pour les Dacquois-e-s</h3>
    <p>Laborum in minim quis elit voluptate excepteur consectetur mollit duis
      commodo veniam quis magna dolore sed dolor in veniam ea magna ullamco fugiat in sed.
      Lorem ipsum quis sed excepteur ut commodo dolore exercitation voluptate irure
      voluptate sunt ex ad pariatur commodo esse labore et ut sunt ut id nostrud dolore
      sint quis in sit exercitation fugiat adipisicing aliqua fugiat nulla in culpa
      aute magna do cillum mollit do dolore ad in consequat officia ut ut sit fugiat
      in qui dolor occaecat qui ullamco dolore reprehenderit pariatur aliquip tempor
      adipisicing enim et dolor officia consequat pariatur pariatur laboris voluptate
    </p>
  </div>
  <%= image_tag 'vitrine-vertical.jpg', class: 'store-image' %>
</div>

<div class='paragraph'>
  <%= image_tag 'technologies.jpg', class: 'store-image' %>
  <div class="paragraph-text">
    <h3>Conseil, service et expertise</h3>
    <p>Laborum in minim quis elit voluptate excepteur consectetur mollit duis
      commodo veniam quis magna dolore sed dolor in veniam ea magna ullamco fugiat in sed.
      Lorem ipsum quis sed excepteur ut commodo dolore exercitation voluptate irure
      voluptate sunt ex ad pariatur commodo esse labore et ut sunt ut id nostrud dolore
      sint quis in sit exercitation fugiat adipisicing aliqua fugiat nulla in culpa
      aute magna do cillum mollit do dolore ad in consequat officia ut ut sit fugiat
      in qui dolor occaecat qui ullamco dolore reprehenderit pariatur aliquip tempor
      adipisicing enim et dolor officia consequat pariatur pariatur laboris voluptate
    </p>
  </div>
</div>
