.button {
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 10px 16px;
  border: 0.0375rem solid $medium-grey;
  background-color: $medium-grey;
  color: white;
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0;
  transition: $base-transition;
  margin-top: 2rem;

  &:hover {
    text-decoration: none;
    transition: $base-transition;
    background-color: white;
    color: $medium-grey;
  }
}
