.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-auto-rows: 1fr;
  transition: $base-transition;
  grid-row-gap: 0.2rem;
  grid-column-gap: 0.2rem;
  width: 90%;
  margin: 0 auto;

  li.product-card-wrapper {
    height: 100%;

    &:hover {
      .quick-booking {
        opacity: 1;
        transition: $base-transition;
        background-color: white;
        padding-top: 0.5rem;
      }

      .product-image > .product-card,
      .product-image > .first-picture {
        opacity: 0;
        transition: $base-transition;
      }
    }
  }
}

.product-image {
  position: relative;
  background-size: contain;

  .quick-booking {
    position: absolute;
    bottom: 0;
    padding: 0 1rem;
    width: 100%;
    opacity: 0;
    text-align: center;
    transition: $base-transition;

    p, .booking-link {
      font-weight: bolder;
      letter-spacing: 0.025rem;
      color: $medium-grey;
      font-size: $base-font-size;
    }

    .unavailable {
      font-weight: 300;
      color: $light-grey;
    }
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  transition: $base-transition;

  &:hover {
    text-decoration: none;
  }

  img {
    width: 100%;
  }
}

.card-infos {
  width: 100%;
  background-color: white;
  color: $medium-grey;
  padding-bottom: 1rem;

  p {
    margin-bottom: 0;
    padding-top: 0.5rem;
  }
}

.prices {
  display: flex;
  font-family: 'Cabin';

  h3 {
    font-weight: 600;
    font-size: $base-font-size;
  }

  .standard-price {
    text-decoration: line-through;
  }

  .new-price {
    color: #CD3939;
    padding-right: 0.5rem;
  }
}
