.form-container {
  width: 400px;
  margin: 3rem auto;
}

.simple_form {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .input {
    margin-bottom: 1.75rem;
    width: 100%;

    input {
      width: 100%;
      padding: .625rem .75rem;
      border-radius: 0;
      border: 1px solid $super-light-grey;
      color: $medium-light-grey;
    }
  }
}

.simple_form.new_booking {
  padding: 1rem;
  padding-right: 0;
  padding-bottom: 0;
}

.checkbox {
  width: 100%;
  display: flex;

  #user_remember_me {
    width: auto;
    margin-right: 0.5rem;
  }
}

.products-search-form {
  display: flex;

  input {
    border: 0px;
    font-family: 'PT sans', 'Cabin';
    font-size: 1.05rem;
    border-bottom: 0 solid transparent;
    border-radius: 0;
    padding: 0;
    transition: $base-transition;
    width: 0;

    &:focus {
      border: 0px;
      box-shadow: none;
      border-bottom: 1px solid $medium-light-grey;
      border-radius: 0;
      transition: $base-transition;
      width: max-content;

      &::placeholder {
        color: $light-grey;
        transition: $base-transition;
      }
    }
  }

  label {
    margin: 0;
    display: flex;
    align-items: center;

    &::before {
      content: url('search.svg');
      display: flex;
      height: 2rem;
      width: 2rem;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.products-search-form .form-control::placeholder {
  color: transparent;
  transition: $base-transition;
}
