.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: white;
  height: 85px;
  padding: 1.5rem 0;
  color: $light-grey;
}


.navbar.navbar-lewagon {
  box-shadow: $base-box-shadow;
  z-index: 2;

  .avatar {
    width: 40px;
  }

  .avatar-email {
    font-size: 0.8rem;
    border: 1px solid $super-light-grey;
    border-radius: 0.8rem;
    margin: 0;
    padding: 0 0.5rem;
    position: absolute;
    top: 30px;
    right: -50px;
    background-color: rgba(250, 250, 250, 0.5);
  }

  .dropdown-menu {
    top: 100px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 40px;
  padding: 0.5rem 0;
}
