.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: white;
  height: 85px;
  padding: 18px 0;
}


.navbar.navbar-lewagon {
  box-shadow: 0 0 .375rem $light-grey;
  z-index: 2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 36px;
  padding: 8px 0;
}
