.list-inline.tabs-underlined {
  display: flex;
  align-items: center;
  background-color: transparent;
  width: 100%;
  margin-bottom: 0;
  padding-top: 1rem;
  z-index: 2;
  position: absolute;
  font-size: 0.875rem;

  a::after {
    content: "/";
    padding: 0 0.5rem;
  }

  li, a {
    color: $light-grey;
    text-decoration: none;

    &:hover {
      color: $light-grey;
    }
  }

  li:last-child {
    color: $medium-grey;
  }
}
