.list-inline.tabs-links {
  display: flex;
  align-items: flex-end;
  background-color: transparent;
  width: 100%;
  margin-bottom: 0;
  padding-top: 1rem;
  z-index: 2;
  position: absolute;
  font-size: 0.875rem;

  .tab-link::after {
    content: "/";
    float: right;
    padding: 0 0.3rem;
  }

  a:hover {
    color: $light-grey;
    text-decoration: underline;
  }

  li, a {
    color: $light-grey;
    text-decoration: none;
  }

  li:last-child {
    color: $medium-grey;
  }
}
