section.bookings-table {
  text-align: left;
  padding: 12px;
  display: table;
  width: 100%;

  .bookings-table-content {
    display: table-row;
  }

  div {
    display: table-cell;
    padding: 8px 16px;
    border: 1px solid $super-light-grey;
  }
}

header {
  display: table-row;
}
