.variant-box {
  display: flex;
  height: 36px;
  width: 36px;
  margin: 0 4px;
  margin-bottom: 1.5rem;
  box-shadow: inset 0 0 0 1px $light-grey;
  background-color: lightgrey;
  justify-content: center;
  align-items: center;
  color: $medium-light-grey;
  position: relative;

  &:hover {
    display: flex;
    text-decoration: none;
    color: $medium-light-grey;

    .underline, .underline.is-selected {
      display: block;
    }
  }
}

.color-choice {
  color: $medium-grey;
  margin-bottom: 8px;
  font-size: 0.85rem;
}

.underline {
  display: none;
  position: absolute;
  top: 40px;
  width: 36px;
  height: 2px;
  background-color: $medium-light-grey;
}

.underline.is-selected {
  display: block;
}
