@import 'components/*';

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(245, 245, 245, 0.5);
}

.page-content {
  flex-grow: 1;
  width: 1400px;
  margin: 0 auto;
}
