.booking-content, .bookings-content {
  justify-content: center;
  margin: 100px 0;

  .booking-product-side {
    width: 30%;

    .product-card {
      margin: 0;

      .flex-content {
        justify-content: space-between;
      }
    }
  }

  .booking-form-side {
    width: 30%;
    color: $dark-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    position: relative;

    h1 {
      padding: 16px 0;
      box-shadow: $base-box-shadow;
      width: 100%;
      text-align: center;
      position: absolute;
      top: 0
    }
  }
}

body.bookings-index {
  .page-content {
    width: 1500px;
  }

  .bookings-content {
    text-align: center;
  }
}
