body.bookers-index, body.bookers-search {

  .bookers-content {
    text-align: center;
    margin: 2rem auto;
    margin-bottom: 3rem;

    .bookers-table {

      margin-top: 1.2rem;
      border-spacing: 0;
      min-width: 40vw;

      header div {
        padding: 0.2rem 1rem;
      }

      .odd {
        background-color: rgba(0, 0, 0, 0.05);
      }

      .emails {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .fas {
          padding-left: 1rem;
        }
      }
    }
  }
}
