// Small devices (landscape phones, 576px and up)
@media screen and (max-width: 576px) {
  html, body {
    width: 100vw;
  }

  .page-content {
    width: 100vw;
    margin: 0 !important;
    padding: 0 0.5rem;
  }

  .no-mobile {
    display: none !important;
  }

  .only-mobile {
    display: inline-block !important;
  }

  .navbar {
    background-color: white;
  }

  .navbar-collapse {
    background-color: rgba(250, 250, 250, 1);
    text-align: center;
    margin-top: 0.5rem;
    min-width: 100vw;
    height: 100vh;
    position: relative;
    left: -16px;

    .mobile-list {
      display: inline !important;
      position: relative !important;
    }

    .nav-item {
      padding-bottom: 1rem;
    }

  }

  .navbar-lewagon .only-mobile li.nav-item {
    padding: 0 !important;
  }

  .sub-categories-container {
    border-top: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    width: calc(100vw - 1rem);

    .sub-categories {
      display: flex;

      .sub-category {
        min-width: max-content;
        padding: 0.5rem 0.5rem;
        background-color: #f5f4f3;
        margin-right: 0.5rem;
        border-radius: 2px;

        .nav-link {
          text-transform: capitalize;
        }
      }
    }
  }

  .products-container {
    width: 100% !important;

    .index-title h1 {
      margin-top: 1rem;
      text-align: center;
    }

    .flex-content {
      flex-direction: column;
      margin: 0 auto;

      .main-content {
        padding-left: 0.1rem;
        padding-right: 0.1rem;
      }
    }

    .products-grid {
      grid-template-columns: repeat(2, 1fr);

      .product-image {
        height: unset;
      }
    }
  }

  .products-show .page-content {
    padding: 0;
  }

  .product-show-content {
    flex-direction: column;
    padding-left: 0 !important;

    .picture-wrapper, .full-size-picture {
      min-width: 100vw;
    }

    .product-side-content {
      width: 100%;
      padding: 0 0.5rem;
      padding-top: 1rem;
      background-color: white;
    }
  }

  .product-show-description, .product-features, .long-description {
    margin: 0;
    width: 100%;
  }

  .product-show-description {
    padding: 0 0.5rem;
  }

  .booking-content.new-booking-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    box-shadow: none;
    margin: 0.5rem auto;

    .booking-form-side {
      padding-bottom: 0.5rem;

      .simple_form.new_booking {
        padding: 0;
      }
    }
  }

  .booking-form {
    box-shadow: none;
    margin-bottom: 0;
  }

  .footer {
    height: 5rem;
  }

  .footer-links {
    flex-direction: row;

    p, a, .follow {
      font-weight: 400;
      font-size: 1.1rem;
    }
  }

  .form-container {
    width: unset;
    padding: 0 0.5rem;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {

}


