.index-category {
  margin-top: 1rem;
  text-align: center;

  .products-count {
    margin-top: 1rem;
    color: $medium-light-grey;
  }
}

.index-title h1 {
  text-transform: uppercase;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
}

.products-container {
  max-width: 85%;
  margin: 0 auto;

  .sub-container {
    display: flex;
  }
}

.products-container .side-content {
  margin-right: 1.5rem;
}

.products-search .index-category h1 {
  text-transform: none;
}

.change-stock-forms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  // margin: 2rem auto;
}

.products-new .form-title {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.2rem;
}

.change-stock-forms.csv-form {
  grid-template-columns: repeat(1, 1fr);

  .form-container {
    width: 100%;
  }
}

.products-new .change-stock-forms-container {
  border: 1px solid $super-light-grey;
  padding: 2rem;
  margin: 2rem 0;
}

.form-separator {
  text-align: center;
  font-size: 1.1rem;
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
}
