.index-category {
  margin-top: 1rem;
  text-align: center;

  .products-count {
    margin-top: 1rem;
    color: $medium-light-grey;
  }
}

.index-title h1 {
  text-transform: uppercase;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
}

.products-container {
  max-width: 85%;
  margin: 0 auto;

  .sub-container {
    display: flex;
  }
}

.products-container .side-content {
  margin-right: 1.5rem;
}

.products-search .index-category h1 {
  text-transform: none;
}

.change-stock-forms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
}
