//Fonts variables
$base-font-size: 0.875rem;

//Colors variables
$dark-grey: rgba(0, 0, 0, 0.8);
$medium-grey: #32302e;
$medium-light-grey: rgba(0, 0, 0, 0.6);
$light-grey: #918c88;
$super-light-grey: rgba(0,0,0,.1);

//Thumbnails product_show

$max-list-height: calc(6 * 94px);

// Other vars

$base-box-shadow: 0px 7px 9px -9px rgba(0, 0, 0, 0.2);
$variant-box-shadow-light: inset 0 0 0 1px $super-light-grey;
$variant-box-shadow-dark: inset 0 0 0 1px $medium-grey;
$base-transition: all 0.3s ease-in-out;

// // Breakpoints
// $breakpoints: (phone: 640px,
//                tablet: 768px,
//                desktop: 1024px) !default;


// Color-choice background
.other-colors {

  .white, .ivory, .offwhite, .ecru {
    background-color: white!important;
  }

  .black, .blk {
    background-color: black;
  }

  .cognac, .nut, .brandy, .marron, .chestnut, .brandy, .tobacco {
    background-color: #89593B;
  }

  .navy, .blue {
    background-color: #2D3F72;
  }

  .lipstick, .chili, .rouge, .fire {
    background-color: crimson;
  }

  .khaki, .kaki, .vert, .olive, .sage {
    background-color: rgba(151, 146, 86, 0.7);
  }

  .orange, .sunset {
    background-color: darkorange;
  }

  .silver, .gris, .metallique, .anthracite {
    background-color: silver;
  }

  .sun, .saffron, .yellow, .mustard {
    background-color: gold;
  }

  .apple {
    background-color: #C0CA7F;
  }

  .pink, .cranberry, .magenta {
    background-color: #DF3E6E;
  }

  .taupe, .camel, .sand, .dune {
    background-color: #C5AA97;
  }

  .brown, .cafe, .mocca {
    background-color: #765252;
  }

  .beige, .cream {
    background-color: #CDBCAC;
  }

  .rose, .champagne, .antelope {
    background-color: #DEBDB6;
  }

  .granata, .bordeaux {
    background-color: #703436;
  }

  .emerald {
    background-color: #27AF88;
  }

  .smoke {
    background-color: #9B9287;
  }

  .gold {
    background-color: #BBA290;
  }
}
