//Fonts variables
$base-font-size: 0.9rem;

//Colors variables
$dark-grey: rgba(0, 0, 0, 0.8);
$medium-grey: #32302e;
$medium-light-grey: rgba(0, 0, 0, 0.6);
$light-grey: rgba(0,0,0,.1);

//Thumbnails product_show

$max-list-height: calc(6 * 94px);


// Color-choice background
.other-colors {
  .white {
  background-color: white;
  }

  .black {
    background-color: black;
  }

  .cognac {
    background-color: #89593B;
  }

  .sage {
    background-color: mediumturquoise;
  }

  .navy {
    background-color: midnightblue;
  }

  .lipstick {
    background-color: crimson;
  }

  .khaki {
    background-color: darkkhaki;
  }

  .orange, .sunset {
    background-color: darkorange;
  }

  .silver {
    background-color: silver;
  }

  .sun {
    background-color: gold;
  }

  .apple {
    background-color: #C0CA7F;
  }

  .pink {
    background-color: #DF3E6E;
  }
}
