<div id="sizes-modal" class="sizes-modal">
  <%= image_tag 'close.svg', class: 'close-icon' %>
  <div class="custom-modal-header">Quelle est votre pointure?</div>
  <div class="modal-informations">
  Si vous recherchez la pointure faite pour vous, vous pouvez vous aider de ce tableau.
  Cependant, nous vous prions de considérer ces mesures comme des moyennes,
  la largeur du pied rentrant également en compte dans la pointure.
  </div>

  <div class="sizes-wrapper container mt-4 mt-lg-5">
    <div class="size-headline-title row">
      <div class="foot-length-headline col-6 col-lg-12">LONGUEUR DU PIED EN CM</div>
      <div class="size-headline col-6 col-lg-12">POINTURE</div>
    </div>
    <div class="sizes-table-values row px-lg-4 py-lg-0">
      <div class="foot-length-value col-6 col-lg-12 mb-lg-4">22.9</div>
      <div class="size-value col-6 col-lg-12">36</div>
    </div>
    <div class="sizes-table-values row px-lg-4 py-lg-0">
      <div class="foot-length-value col-6 col-lg-12 mb-lg-4">23.6</div>
      <div class="size-value col-6 col-lg-12">37</div>
    </div>
    <div class="sizes-table-values row px-lg-4 py-lg-0">
      <div class="foot-length-value col-6 col-lg-12 mb-lg-4">24.4</div>
      <div class="size-value col-6 col-lg-12">38</div>
    </div>
    <div class="sizes-table-values row px-lg-4 py-lg-0">
      <div class="foot-length-value col-6 col-lg-12 mb-lg-4">25.1</div>
      <div class="size-value col-6 col-lg-12">39</div>
    </div>
    <div class="sizes-table-values row px-lg-4 py-lg-0">
      <div class="foot-length-value col-6 col-lg-12 mb-lg-4">25.9</div>
      <div class="size-value col-6 col-lg-12">40</div>
    </div>
    <div class="sizes-table-values row px-lg-4 py-lg-0">
      <div class="foot-length-value col-6 col-lg-12 mb-lg-4">26.6</div>
      <div class="size-value col-6 col-lg-12">41</div>
    </div>
    <div class="sizes-table-values row px-lg-4 py-lg-0">
      <div class="foot-length-value col-6 col-lg-12 mb-lg-4">27.4</div>
      <div class="size-value col-6 col-lg-12">42</div>
    </div>
    <div class="sizes-table-values row px-lg-4 py-lg-0">
      <div class="foot-length-value col-6 col-lg-12 mb-lg-4">28.1</div>
      <div class="size-value col-6 col-lg-12">43</div>
    </div>
  </div>
</div>
