<ul class="thumbnails-pictures no-mobile">
  <% @product.photos_urls.each_with_index do |photo, index| %>
    <li class='thumbnail-picture'>
      <%= image_tag resize(photo, 72, 96), data: { index: index } %>
    </li>
  <% end %>
</ul>

<ul class="picture-wrapper">
  <% @product.photos_urls.each_with_index do |photo, index| %>
    <li class="full-size-picture<%= " active" if index == 0 %>">
      <%= image_tag resize(photo, 680, 900),
        data: { index: index } %>
    </li>
  <% end %>
</ul>
