<ul>
  <% @shoes.each do |shoe| %>
    <li>
      <%= link_to shoe.reference, product_path(shoe.reference) %>
      <%= shoe.model %>
      <% if !shoe.photos_urls.empty? %>
        <%= image_tag shoe.photos_urls[0..1].sample, width: '150' %>
      <% end %>
    </li>
  <% end %>
</ul>
