<%= render 'products/partials/tabs' %>

<%= render 'products/partials/sub_categories_list' %>

<div class="no-product-message">
  <div class="div">

    <h2>Produits victimes de leur succès!</h2>
    <div>
      <p>
        Nos stocks sont actuellement épuisés. Nous vous prions de nous en excuser.
      </p>

      <p>
        Pour être au courant des dernières arrivées, suivez-nous sur
        <a href="https://www.facebook.com/tamaris.saintpaullesdax/">
          <i class="fab fa-facebook"></i><span class="facebook">acebook</span>
        </a>
      </p>
    </div>
  </div>
</div>
