<div class="text-center pt-4">
  <h1 class="h2 pt-4 text-uppercase">Résultat de votre recherche</h1>

  <p class="pt-4 h5">La recherche "<%= params[:query].upcase %>" n'a donné aucun résultat.</p>

  <p class="pt-4 h5">Une faute de frappe s'est peut-être glissée, nous vous invitons à réessayer.</p>
</div>
