.pages-home .page-content {
  max-width: none;
  width:100%;
}

.home-page-banner {
  height: 80vh;
  background-color: #f7f5f6;
  background-size: inherit;
  background-position: center 80%;
  background-repeat: no-repeat;
  margin-top: -5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &:hover {
    text-decoration: none;
  }
}

.banner-content {
  padding-left: 10rem;
  width: 100%;
}

h1.category-banner {
  text-transform: uppercase;
  font-size: 2.8rem;
}

.banner-btn {
  background-color: transparent;
  color: $dark-grey;
  width: max-content;
  transition: $base-transition;

  &:hover {
    background-color: $dark-grey;
    color: white;
    transition: $base-transition;
  }
}

.tamaris-gif {
  position: absolute;
  top: -100%;
  right: 25%;
  // width: 150px;

}
