.pages-home .navbar.navbar-expand-md.navbar-light.navbar-lewagon {
  box-shadow: none;
  background: linear-gradient(rgba(0,0,0,0.225), rgba(0,0,0,0.15), rgba(0,0,0,0.075), transparent);
  transition: $base-transition;

  &:hover {
    box-shadow: $base-box-shadow;
    background-color: white !important;
    background: none;
    transition: $base-transition;

    .navbar-brand:after {
        background-image: asset-url('logo-tamaris.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        vertical-align: unset;
        display: block;
        opacity: 1;
        height: initial;
        width: inherit;
        transition: 0.3s ease-in-out opacity;
    }

    .nav-link {
      color: $medium-grey !important;
    }

    .products-search-form label:after {
        background-image: asset-url('search.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        vertical-align: unset;
        display: block;
        opacity: 1;
        height: initial;
        width: inherit;
        transition: 0.3s ease-in-out opacity;
    }

    .navbar-toggler-icon {
      background-image: asset-url('burger-menu.svg');
    }

    .products-search-form input {
      border-bottom: 1px solid $medium-grey !important;

      &::placeholder {
        color: $medium-grey !important;
      }
    }
  }

  .nav-link {
    color: white !important;
  }

  .navbar-brand {
    display: flex;
    background-image: asset-url('logo-tamaris-white.svg');
    opacity: 1;

    &:after {
      content: "";
      opacity: 0;
      height: 0;
      width: 0;
    }
  }

  .products-search-form label {
    background-image: asset-url('search-white.svg');
    opacity: 1;

    &:after {
      content: "";
      opacity: 0;
      height: 0;
      width: 0;
    }
  }

  .products-search-form input:focus {
    border-bottom: 1px solid white;

    &::placeholder {
      color: white;
    }
  }

  .navbar-toggler-icon {
    background-image: asset-url('burger-menu-white.svg');
  }
}
