    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-facebook"></i></a>
      </div>
      <div class="private-access">
        <%= link_to 'Ajouter une référence', new_product_path %>
      </div>
      <div class="footer-copyright">
        This footer is made with <i class="fas fa-heart"></i> at Le Wagon
      </div>
    </div>
