@media (max-width: 768px) {
  .home-page-banner {
    background-size: cover;
  }

  .banner-content {
    padding-left: 4rem;
  }
}

@media screen and (max-width: 576px) {
  .banner-content {
    padding-left: 1rem;
  }
}
