@media (max-width: 768px) {
  .home-page-banner {
    background-size: cover;
  }

  .banner-content {
    padding-left: 4rem;
  }

  .banner-btn {
    background-color: white;
    color: $dark-grey;

    &:hover {
      background-color: $dark-grey;
      color: white;
    }
  }
}

@media screen and (max-width: 576px) {
  .banner-content {
    padding-left: 1rem;
  }
}
