@media (max-width: 768px) {
  .sizes-modal-container.active {
    z-index: 6;
  }

  .sizes-modal {
    width: 100vw;
    font-size: 1rem;
    width: 95%;

    .custom-modal-header {
      font-size: 1.2rem;
      padding: 1rem 0;
    }

    .modal-informations {
      font-size: $base-font-size;
    }

    .size-headline-title {
      display: flex;
      padding-right: 0;
    }
  }
}

@media screen and (max-width: 576px) {
  .sizes-modal-container.active {
    height: 100vh;
    overflow-y: scroll;
    padding: 1rem;
    align-items: baseline;
  }

  .sizes-modal {
    padding: 0.5rem;
    width: 100%;

    img.close-icon {
      top: 0;
      right: 0;
    }
  }

  .sizes-wrapper {
    flex-direction: column;
    padding: 0 4.5rem;
    padding-bottom: 2rem;
    align-items: center;

    :first-child {
      width: 100%;
    }

    .size-headline-title {
      flex-wrap: nowrap;
    }

    .sizes-table-values {
      border-right: none;
      border-bottom: 1px solid $medium-grey;
      padding: 1rem 0;
      flex-wrap: nowrap;

      .size-value {
        padding-right: 15px !important;
        padding-left: 15px !important;
      }
    }

    :last-child {
      border-bottom: none;
    }
  }
}
