@media screen and (max-width: 576px) {
  .sizes-modal {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 90vw;
  }

  .sizes-wrapper {
    flex-direction: column;
    padding: 0 4.5rem;
    padding-bottom: 2rem;
    align-items: center;

    :first-child {
      width: 100%;
    }

    .sizes-table-values {
      border-right: none;
      border-bottom: 1px solid $medium-grey;
      padding: 1rem 0;
    }

    :last-child {
      border-bottom: none;
    }
  }
}

@media (max-width: 768px) {
  .sizes-modal {
    width: 100vw;
    font-size: 1rem;

    .custom-modal-header {
      font-size: 1.2rem;
      padding: 1rem 0;
    }

    .modal-informations {
      font-size: $base-font-size;
    }

    .sizes-wrapper.container {
      width: 100%;

      .size-headline-title {
        display: flex;
        padding-right: 0;
      }
    }
  }
}
