@media screen and (max-width: 576px) {

}

@media (max-width: 768px) {
  .bookers-content .bookers-table {
    margin-top: 0 !important;

    .bookers-table-row {
      margin-bottom: 0.5rem;
      padding: 0.5rem 0;
    }
  }
}
